body { background-color: #500 ;
       }
    
  #main{ 
  max-width: 750px;

  margin: 0 auto ;
      }

    img  {
    max-width: 100% ;
      }


        #div  {
  text-align: center;
  margin: 0 auto ;
  padding: 50px;
  
     }

    #div a{
  text-decoration: none;
  background: white;
  color: #111;
  padding:27px 35px;
  font-size: 20px;
     }



#div a:hover {
  background-color: #8B8989;
}


  h1 {text-decoration: none;
      background-color: #500;
      padding:24px 26px;
      width: 500px;
      border-radius: 15px;
      color: white;
      font-family: URW Chancery L, cursive;

}

.promo{text-decoration: none;
      background: white;
      padding:24px 26px;
      width: 400px;
      border-radius: 7px;
      color: #111;
      font-family: URW Chancery L, cursive;
      font-size: 40px;
      float: 0;
      font-weight: bold;

}

 

#cardapio {
text-decoration: none;
  background: white;
  color: #111;
  padding:24px 26px;
  width: 100px;
  border-radius: 7px;
  text-align: center;
}
#cardapio:hover{ background-color: #8B8989;


}

#cardapio {
  margin: 0 auto;
  
  text-align: center;

}


dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111; 
  width: 450px;
}

dt  {font-size: 25px;
  color: white;

}

dd{ font-size: 20px ;
  color: white;
  



}

#pizza { position: top;
  
  margin-left: 37%;


}

 {
      
      padding: 5px;
      text-align: center;
       bottom: 0;
      width: 100%;
      color: white;
      
    }

    #footer {
      
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #500;
   color: white;
   text-align: center;
   font-size: 30px;
}

   footer {
      
   
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #500;
   color: white;
   text-align: center;
   font-size: 30px;
}


#local{
  width: 250px;
  margin: 0 auto;
}

iframe{ float: right;
  position: top;

}



 #centro { width: 97,7vw;
height: 50vh;
background: #faaa49;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center


}
#centro1{ width: 97,7vw;
height: 50vh;
background: #faaa49;
display: center;
flex-direction: row;
justify-content: center;
align-items: center


}
#hist{width: 99,9vw;
height: 70vh;
background: #faaa49;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size: 14px;
text-align: center;


}

#pizsobre {
  position: absolute; 
  left: 90px; 
  top: 280px; }

#pizsobre2 {

  position:absolute;
  left:1350px;
  top:280px;



}
